* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    _font-size: inherit;
    background-color: inherit;
    color: inherit;
    border: inherit;
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        background-color: bisque;
        width: 100%;
        height: 128px;
        display: flex;
        justify-content: center;
        align-items: center;

        nav {
            padding: 0 24px;
            width: 100%;
            max-width: 1440px;
            display: flex;
            justify-content: space-between;
            align-content: center;

            img {
                width: 64px;
                height: auto;
            }

            form {
                width: 320px;
                height: 56px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding: 8px;
                gap: 12px;

                input {
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    padding-left: 6px;
                }

                button {
                    cursor: pointer;

                    img {
                        width: 36px;
                        height: auto;
                    }
                }
            }

        }
    }

    main {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            padding: 36px;
            background-color: blue;

            h1 {
                text-align: center;
                padding: 24px 0;
                color: rgb(160, 7, 190);
            }

            #content {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                background-color: antiquewhite;
                justify-content: center;

                .card {
                    width: clamp(280px, 90%, 340px);
                    height: 512px;
                    border: 2px solid black;
                    border-radius: 12px;

                    .card_content {
                        padding-top: 24px;
                        width: 100%;
                        height: 100%;
                        border: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 12px;

                        h2 {
                            text-align: center;
                        }

                        img {
                            width: 260px;
                            height: auto;
                        }
                    }
                }
            }

            #loadMore {
                width: 100%;
                height: 64px;
                background-color: aquamarine;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                border-radius: 12px;
                cursor: pointer;

                p {
                    font-size: 24px;
                }

                img {
                    width: 30px;
                }
            }
        }
    }
}